---
import BaseLayout from "../layouts/BaseLayout.astro";
import Hero from "../components/ui/Hero.astro";
import Heading from "../components/ui/Heading.astro";
import ContactForm from "../components/ContactForm.astro";
---

<BaseLayout seo={{ title: "Contato", description: "Fale conosco." }}>
  <Hero
    id="contato"
    class="pb-12 bg-surface-default relative overflow-hidden"
  >
  <!-- Glow roxo -->
    <div
      class="pointer-events-none absolute -bottom-[220px] left-2/6 w-[428px] h-[428px] rounded-full bg-brand-secondary blur-[100px]"
    >
    </div>

    <!-- Glow rosa -->
    <div
      class="pointer-events-none absolute -bottom-[364px] right-0 w-[800px] h-[800px] rounded-full bg-brand-primary blur-[100px]"
    >
    </div>
    <div
      class="w-full lg:w-[48%] flex flex-col items-start gap-6 md:gap-8 lg:gap-4 xl:gap-8 relative z-10"
    >
      <div class="flex flex-col gap-4 md:gap-6 lg:gap-4 xl:gap-6 items-start">
        <Heading as="h1">Precisa falar com a Disparo Pro?</Heading>
        <p class="text-body-md text-text-secondary max-w-[500px]">
          Preencha o formulário com seus dados! Nosso time entrará em contato
          com você.
        </p>
      </div>
    </div>
    <div class="w-full lg:w-1/2 relative z-10">
      <ContactForm />
    </div>
  </Hero>
</BaseLayout>
