---
import Container from "./ui/Container.astro";
import { ROUTES } from "../lib/routes";
import { Image } from "astro:assets";
import Icon from "./Icon.astro";

// Assets
import logoFooterImg from "../assets/images/logo-disparo-pro-footer.svg";
---


<footer
  class="overflow-hidden"
  style="background: radial-gradient(circle at 10% 20%, rgba(255, 255, 255, 0.15) 0%, transparent 100%), #0d0d0d;"
>
  <Container
    class="flex flex-col lg:flex-row justify-between gap-8 lg:gap-0 py-10 lg:py-16 px-4 md:px-6 xl:px-0"
  >
    <a href={ROUTES.HOME} class="inline-block max-w-60">
      <Image
        src={logoFooterImg}
        alt="Disparo Pro"
        class="w-full h-auto"
        width={240}
        height={60}
      />
    </a>

    <div class="flex items-center justify-start lg:justify-center gap-4 text-white">
      <a href="https://www.facebook.com/disparopro" target="_blank">
        <Icon name="facebook-logo" size={24} variant="secondary" type="fill"/>
      </a>
      <a href="https://www.instagram.com/disparopro/" target="_blank">
        <Icon name="instagram-logo" size={24} variant="secondary" type="fill"/>
      </a>
      <a href="https://www.linkedin.com/company/disparo-pro" target="_blank">
        <Icon name="linkedin-logo" size={24} variant="secondary" type="fill"/>
      </a>
      <a href="https://www.youtube.com/@disparopro" target="_blank">
        <Icon name="youtube-logo" size={24} variant="secondary" type="fill"/>
      </a>
    </div>


  </Container>
  <div class="bg-brand-primary py-2 px-4 md:px-6 xl:px-0">
    <Container class="text-xs md:text-sm">
      <p class="text-surface-default">
        Copyright © {new Date().getFullYear()} Disparo Pro Todos os direitos reservados.
      </p>
    </Container>
  </div>
</footer>
