---
import Heading from "./ui/Heading.astro";
import IntegrationBox from "./ui/IntegrationBox.astro";

interface Integration {
  logo: any;
  logoAlt?: string;
  buttonHref: string;
}

export interface Props {
  title: string;
  integrations: Integration[];
}

const { title, integrations } = Astro.props;
---

<div class="flex flex-col gap-8 lg:gap-12 items-center justify-center">
  <div class="flex flex-col items-center justify-center text-center">
    <Heading as="h2">{title}</Heading>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 lg:gap-6 w-full">
    {
      integrations.map((item) => (
        <IntegrationBox
          logo={item.logo}
          logoAlt={item.logoAlt}
          buttonHref={item.buttonHref}
        />
      ))
    }
  </div>
</div>
