---
import { getBlogPosts } from "../types/blog";
import BlogCard from "./BlogCard.astro";
import Container from "./ui/Container.astro";
import Heading from "./ui/Heading.astro";
import { ROUTES } from "../lib/routes";
import Icon from "./Icon.astro";

const posts = await getBlogPosts();
const latestPosts = posts.slice(0, 3);
---


  <div>
    <div class="flex flex-col sm:flex-row justify-between items-start md:items-end mb-10 gap-4">
      <div class=" w-full md:max-w-2xl">
        <Heading as="h2" class="text-3xl md:text-4xl">Acompanhe nossos conteúdos!</Heading>
      </div>
      <a 
        href={ROUTES.BLOG.HOME} 
        class="text-text-secondary hover:text-brand-primary transition-colors flex items-center gap-2 group font-medium"
      >
        Ver Todos
        <Icon variant="muted" size={24} type="regular" name="caret-right" class="transition-transform group-hover:translate-x-1" />
      </a>
    </div>

    <div class="grid gap-8 md:grid-cols-2 lg:grid-cols-3">
      {latestPosts.map((post) => (
        <BlogCard post={post} />
      ))}
    </div>
  </div>

