---
import BoxStep from "./ui/BoxStep.astro";
import criarContaImg from "../assets/images/criar-conta.svg";
import criarJornadaImg from "../assets/images/criar-jornada.svg";
import dispararImg from "../assets/images/disparar.svg";
---

<div class="grid grid-cols-1 gap-6 lg:grid-cols-3 lg:gap-8 w-full">
  <div class="w-full">
    <BoxStep
      icon="number-square-one"
      title="Faça login"
      description="Acesse a plataforma com seus dados."
      image={criarContaImg}
    />
  </div>
  <div class="w-full">
    <BoxStep
      icon="number-square-two"
      title="Crie sua jornada"
      description="Escolha o canal e crie suas mensagens."
      image={criarJornadaImg}
    />
  </div>
  <div class="w-full">
    <BoxStep
      icon="number-square-three"
      title="Dispare"
      description="Programe ou dispare sua jornada de comunicação."
      image={dispararImg}
    />
  </div>
</div>
