---
import Section from "./ui/Section.astro";
import Heading from "./ui/Heading.astro";
import Testimonial from "./Testimonial.astro";

import deiveImg from "../assets/images/deive_leonardo.webp";
import augustoImg from "../assets/images/augusto_dalvit.webp";
---

<div class="flex flex-col items-center justify-center gap-8 lg:gap-12">
  <div class="flex flex-col items-center justify-center gap-6">
    <Heading as="h2">Quem conhece, confia!</Heading>
    <p class="text-body-md text-text-secondary">
      + de 5 mil clientes atendidos
    </p>
  </div>
  <div
    class="gap-8 lg:gap-12 flex flex-col lg:flex-row items-center justify-between"
  >
    <Testimonial
      name="Deive Leonardo"
      position="Evangelista e influenciador Digital"
      text="“Quando fizemos o lançamento do filme A Resposta, a Disparo Pro nos ajudou a alcançar todos os nossos leads e pessoas que fizeram parte da nossa história. Foi o melhor lançamento que pudemos imaginar, e ficamos no Top 10 da Netflix!”"
      image={deiveImg}
    />
    <Testimonial
      name="Augusto Dalvit Tonelo"
      position="Vice-Presidente de Marketing da Chapecoense"
      text="“Nós percebemos que o SMS era um canal bastante eficiente para a nossa necessidade. Precisávamos alcançar o torcedor associado de forma rápida e eficaz para mantê-lo engajado com o Clube. Considerando o investimento, o retorno foi muito positivo!”"
      image={augustoImg}
    />
  </div>
</div>
