---
import { cx } from "../lib/utils";
import { Image } from "astro:assets";
import type { ImageMetadata } from "astro";

export interface Props {
  class?: string;
  name?: string;
  text?: string;
  image?: string | ImageMetadata;
  position?: string;
}

const { class: className, name, text, image, position, ...rest } = Astro.props;

const classes = cx(className);
---

<div class={classes} {...rest}>
  <div class="flex flex-col items-center justify-center gap-6">
    {
      image && (
        <Image
          src={image as any}
          alt={name || ""}
          width={148}
          height={148}
          class="rounded-full"
          format="webp"
          quality="mid"
        />
      )
    }
    {
      text && (
        <p class="text-body-sm text-text-secondary leading-relaxed text-center">
          {text}
        </p>
      )
    }
    <div class="flex flex-col items-center justify-center gap-2">
      {
        name && (
          <span class={cx("font-bold text-body-md text-text-primary")}>
            {name}
          </span>
        )
      }
      {
        position && (
          <span class={cx("text-tag text-text-secondary")}>{position}</span>
        )
      }
    </div>
    <slot />
  </div>
</div>
