---
import BaseLayout from "../../layouts/BaseLayout.astro";
import Section from "../../components/ui/Section.astro";
import Heading from "../../components/ui/Heading.astro";
---

<BaseLayout seo={{ title: "APIs da Disparo Pro", description: "Integre nossa API ao seu sistema!" }}>
  <Section>
    <Heading as="h1">APIs da Disparo Pro</Heading>
  </Section>
</BaseLayout>