---
import BaseLayout from "../../layouts/BaseLayout.astro";
import Hero from "../../components/ui/Hero.astro";
import Badge from "../../components/ui/Badge.astro";
import Heading from "../../components/ui/Heading.astro";
import IntegrationsSection from "../../components/IntegrationsSection.astro";
import Section from "../../components/ui/Section.astro";
import Image from "astro/components/Image.astro";

import logoPipedrive from "../../assets/images/integracoes/logo-pipedrive.svg";
import logoMautic from "../../assets/images/integracoes/logo-mautic.svg";
import logoContaAzul from "../../assets/images/integracoes/logo-conta-azul.svg";
import logoZapier from "../../assets/images/integracoes/logo-zapier.svg";
import logoMake from "../../assets/images/integracoes/logo-make.svg";
import logoIxcSoft from "../../assets/images/integracoes/logo-ixcsoft.svg";
import logoHubsoft from "../../assets/images/integracoes/logo-hubsoft.svg";
import logoEliteSoft from "../../assets/images/integracoes/logo-elite-soft.svg";
import logoSpg from "../../assets/images/integracoes/logo-spg.svg";

const recommendedIntegrations = [
  {
    logo: logoPipedrive,
    logoAlt: "logoPipedrive",
    buttonHref: "https://marketplace.disparopro.com.br/plugin/pipedrive",
  },
  {
    logo: logoMautic,
    logoAlt: "logoMautic",
    buttonHref: "https://marketplace.disparopro.com.br/plugin/mautic",
  },
  {
    logo: logoContaAzul,
    logoAlt: "logoContaAzul",
    buttonHref: "https://marketplace.disparopro.com.br/plugin/contaazul",
  },
];
const automationTools = [
  {
    logo: logoZapier,
    logoAlt: "logoZapier",
    buttonHref: "https://marketplace.disparopro.com.br/plugin/zapier",
  },
  {
    logo: logoMake,
    logoAlt: "logoMake",
    buttonHref: "https://marketplace.disparopro.com.br/plugin/integromat",
  },
];
const internetProviders = [
  {
    logo: logoIxcSoft,
    logoAlt: "logoIxcSoft",
    buttonHref: "https://wiki.ixcsoft.com.br/pt-br/home",
  },
  {
    logo: logoHubsoft,
    logoAlt: "logoHubsoft",
    buttonHref: "https://marketplace.disparopro.com.br/plugin/hubsoft",
  },
];
const erpSystems = [
  {
    logo: logoEliteSoft,
    logoAlt: "logoEliteSoft",
    buttonHref: "https://www.elitesoft.com.br/",
  },
  {
    logo: logoSpg,
    logoAlt: "logoSpg",
    buttonHref: "https://www.tsmx.net.br/sgp/",
  },
];
---

<BaseLayout
  seo={{
    title: "Integrações",
    description: "Integrações com plataformas de e-commerce e CRM.",
  }}
>
  <Hero
    id="integracoes"
    class="pb-12 lg:pb-24 xl:pb-36 bg-surface-default relative overflow-hidden"
  >
    <!-- Glow roxo -->
    <div
      class="pointer-events-none absolute -bottom-[50px] md:-bottom-[220px] left-[5%] md:left-2/6 w-[150px] h-[150px] md:w-[428px] md:h-[428px] rounded-full bg-brand-secondary blur-[50px] md:blur-[100px] opacity-60 md:opacity-100"
    >
    </div>

    <!-- Glow rosa -->
    <div
      class="pointer-events-none absolute -bottom-[80px] md:-bottom-[364px] right-[5%] md:right-0 w-[200px] h-[200px] md:w-[800px] md:h-[800px] rounded-full bg-brand-primary blur-[70px] md:blur-[100px] opacity-60 md:opacity-100"
    >
    </div>
    <div
      class="mx-auto w-full lg:max-w-4/5 flex flex-col items-center justify-center gap-6 md:gap-8 lg:gap-4 xl:gap-8 relative z-10"
    >
      <Badge text="Integração simples e prática" />

      <div
        class="flex flex-col gap-4 md:gap-6 lg:gap-4 xl:gap-6 items-center text-center"
      >
        <Heading as="h1">
          Integre nossas APIs aos seus sistemas favoritos!
        </Heading>
        <p class="text-body-md text-text-secondary w-full lg:w-3/4">
          Dispare WhatsApp, SMS, RCS, E-mail e Voz com praticidade e automação
          usando os principais sistemas do mercado.
        </p>
      </div>
    </div>
  </Hero>

  <Section>
    <IntegrationsSection
      title="Integrações recomendadas"
      integrations={recommendedIntegrations}
    />
  </Section>
  <Section>
    <IntegrationsSection
      title="Ferramentas de automação"
      integrations={automationTools}
    />
  </Section>
  <Section>
    <IntegrationsSection
      title="Provedores de Internet"
      integrations={internetProviders}
    />
  </Section>
  <Section>
    <IntegrationsSection title="Sistemas ERPs" integrations={erpSystems} />
  </Section>
</BaseLayout>
