---
import BaseLayout from "../../layouts/BaseLayout.astro";
import Hero from "../../components/ui/Hero.astro";
import Badge from "../../components/ui/Badge.astro";
import Heading from "../../components/ui/Heading.astro";
import IntegrationsSection from "../../components/IntegrationsSection.astro";
import Section from "../../components/ui/Section.astro";

const recommendedIntegrations = [
  {
    title: "Pipedrive",
    description:
      "Importe seus contatos do Pipedrive e envie campanhas de marketing usando o SMS.",
    buttonHref: "https://marketplace.disparopro.com.br/plugin/pipedrive",
  },
  {
    title: "Mautic",
    description:
      "Insira o disparo de WhatsApp, SMS e Voz em suas campanhas de comunicação e impacte seus clientes com assertividade.",
    buttonHref: "https://marketplace.disparopro.com.br/plugin/mautic",
  },
  {
    title: "Conta Azul",
    description:
      "Importe seus clientes da Conta Azul e envie campanhas de comunicação usando WhatsApp, SMS e Voz.",
    buttonHref: "https://marketplace.disparopro.com.br/plugin/contaazul",
  },
];
const automationTools = [
  {
    title: "Zapier",
    description:
      "Integre mais de 2.000 aplicativos com a Disparo Pro e configure fluxos de automação.",
    buttonHref: "https://marketplace.disparopro.com.br/plugin/zapier",
  },
  {
    title: "Make",
    description:
      "Integre mais de 500 aplicativos com a Disparo Pro e configure fluxos de automação.",
    buttonHref: "https://marketplace.disparopro.com.br/plugin/integromat",
  },
];
const internetProviders = [
  {
    title: "IXC Soft",
    description:
      "Dispare WhatsApp, SMS e Voz com avisos e cobranças para os clientes do seu provedor de internet.",
    buttonHref: "https://wiki.ixcsoft.com.br/pt-br/home",
  },
  {
    title: "Hubsoft",
    description:
      "Envie suas faturas de forma automática para os clientes do seu provedor de internet.",
    buttonHref: "https://marketplace.disparopro.com.br/plugin/hubsoft",
  },
];
const erpSystems = [
  {
    title: "Elite Soft",
    description: "Gerencie seu provedor de forma simples, fácil e ágil!",
    buttonHref: "https://www.elitesoft.com.br/",
  },
  {
    title: "SPG",
    description: "Gerencie seu provedor de forma simples, fácil e ágil!",
    buttonHref: "https://www.tsmx.net.br/sgp/",
  },
];
---

<BaseLayout
  seo={{
    title: "Integrações",
    description: "Integrações com plataformas de e-commerce e CRM.",
  }}
>
  <Hero
    id="integracoes"
    class="pb-12 lg:pb-24 xl:pb-36 bg-surface-default relative overflow-hidden"
  >
    <!-- Glow roxo -->
    <div
      class="pointer-events-none absolute -bottom-[50px] left-[5%] w-[150px] h-[150px] md:w-[428px] md:h-[428px] rounded-full bg-brand-secondary blur-[50px] md:blur-[100px] opacity-60 md:opacity-100"
    >
    </div>

    <!-- Glow rosa -->
    <div
      class="pointer-events-none absolute -bottom-[80px] right-[5%] w-[200px] h-[200px] md:w-[800px] md:h-[800px] rounded-full bg-brand-primary blur-[70px] md:blur-[100px] opacity-60 md:opacity-100"
    >
    </div>
    <div
      class="mx-auto w-full lg:max-w-4/5 flex flex-col items-center justify-center gap-6 md:gap-8 lg:gap-4 xl:gap-8 relative z-10"
    >
      <Badge text="Integração simples e prática" />

      <div
        class="flex flex-col gap-4 md:gap-6 lg:gap-4 xl:gap-6 items-center text-center"
      >
        <Heading as="h1">
          Integre nossas APIs aos seus sistemas favoritos!
        </Heading>
        <p class="text-body-md text-text-secondary w-full lg:w-3/4">
          Dispare WhatsApp, SMS, RCS, E-mail e Voz com praticidade e automação usando os
          principais sistemas do mercado.
        </p>
      </div>
    </div>
  </Hero>

  <Section>
    <IntegrationsSection
      title="Integrações recomendadas"
      integrations={recommendedIntegrations}
    />
  </Section>
  <Section>
    <IntegrationsSection
      title="Ferramentas de automação"
      integrations={automationTools}
    />
  </Section>
  <Section>
    <IntegrationsSection
      title="Provedores de Internet"
      integrations={internetProviders}
    />
  </Section>
  <Section>
    <IntegrationsSection title="Sistemas ERPs" integrations={erpSystems} />
  </Section>
</BaseLayout>
