---
import BaseLayout from "../../layouts/BaseLayout.astro";
import Section from "../../components/ui/Section.astro";
import Heading from "../../components/ui/Heading.astro";
---

<BaseLayout seo={{ title: "API SMS", description: "Documentação da API SMS." }}>
  <Section>
    <Heading as="h1">API SMS</Heading>
  </Section>
</BaseLayout>
