---
import BaseLayout from "../../layouts/BaseLayout.astro";
import Section from "../../components/ui/Section.astro";
import Heading from "../../components/ui/Heading.astro";
---

<BaseLayout
  seo={{
    title: "API WhatsApp",
    description: "Documentação da API do WhatsApp.",
  }}
>
  <Section>
    <Heading as="h1">API WhatsApp</Heading>
  </Section>
</BaseLayout>
