---
import BaseLayout from "../../layouts/BaseLayout.astro";
import Section from "../../components/ui/Section.astro";
import Heading from "../../components/ui/Heading.astro";
import Hero from "../../components/ui/Hero.astro";
import Button from "../../components/ui/Button.astro";
import { ROUTES } from "../../lib/routes";
import Box from "../../components/ui/Box.astro";
import InteractiveFeature from "../../components/ui/InteractiveFeature.astro";
import ApiSection from "../../components/ApiSection.astro";
import SlideBoxSteps from "../../components/SlideBoxSteps.astro";
import TestimonialDiv from "../../components/TestimonialDiv.astro";
import { Image } from "astro:assets";
import SecondaryHeader from "../../components/SecondaryHeader.astro";

// Assets
import heroImg from "../../assets/images/email-hero-image.webp";

// Mockups
import emailEcommerce from "../../assets/images/mockups/email-ecommerce.webp";
import emailDisparo from "../../assets/images/mockups/email-disparo.webp";
import emailInfoprodutor from "../../assets/images/mockups/email-infoprodutor.webp";
import emailProvedor from "../../assets/images/mockups/email-provedor-de-internet.webp";
---

<BaseLayout
  seo={{
    title: "Disparo de Email",
    description: "Retenha clientes com jornadas de E-mail automatizadas!",
  }}
>
  <Hero
    id="disparo-de-email"
    class="bg-surface-default relative overflow-hidden"
  >
    <!-- Glow roxo -->
    <div
      class="pointer-events-none absolute -bottom-[50px] md:-bottom-[220px] left-[5%] md:left-2/6 w-[150px] h-[150px] md:w-[428px] md:h-[428px] rounded-full bg-brand-secondary blur-[50px] md:blur-[100px] opacity-60 md:opacity-100"
    >
    </div>

    <!-- Glow rosa -->
    <div
      class="pointer-events-none absolute -bottom-[80px] md:-bottom-[364px] right-[5%] md:right-0 w-[200px] h-[200px] md:w-[800px] md:h-[800px] rounded-full bg-brand-primary blur-[70px] md:blur-[100px] opacity-60 md:opacity-100"
    >
    </div>
    <div
      class="w-full lg:w-1/2 flex flex-col items-start gap-6 md:gap-8 lg:gap-4 xl:gap-8 relative z-10"
    >
      <div class="flex flex-col gap-4 md:gap-6 lg:gap-4 xl:gap-6 items-start">
        <Heading as="h1">
          Retenha clientes com jornadas de E-mail automatizadas!
        </Heading>
        <p class="text-body-md text-text-secondary max-w-[500px]">
          Crie, personalize e dispare jornadas de comunicação completas de forma
          simples e automática.
        </p>
      </div>
      <Button variant="primary" icon="arrow-right" href={ROUTES.CONTATO}
        >Experimente agora!</Button
      >
    </div>
    <div class="w-[90%] lg:w-[420px] relative z-10">
      <Image
        src={heroImg}
        alt="Plataforma Disparo Pro"
        class="w-auto h-auto"
        loading="eager"
        fetchpriority="high"
        width={420}
        format="webp"
        quality="high"
      />
    </div>
  </Hero>

  <SecondaryHeader variant="cta" />

  <Section
    class="flex flex-col items-center justify-center"
    containerClass="flex flex-col gap-8 lg:gap-12"
  >
    <div
      class="mx-auto w-full xl:max-w-3/4 flex flex-col items-center justify-center text-center gap-4"
    >
      <Heading as="h2"
        >Os E-mails ainda são a alternativa mais viável para reter clientes!</Heading
      >
      <p class="text-body-md text-text-secondary">
        Completos, instantâneos e reconhecidos pelo seu público-alvo, os
        disparos de E-mail trazem resultados visíveis.
      </p>
    </div>

    <div class="flex flex-col gap-4 lg:grid lg:grid-cols-3 lg:gap-5">
      <Box
        variant="secondary"
        icon="chart-line-up"
        title="Automação com resultado"
        description="E-mails automatizados geram 52% mais aberturas, 332% mais cliques e até 2361% mais conversões."
      />
      <Box
        variant="secondary"
        icon="users"
        title="O canal favorito"
        description="Cerca de 80% dos clientes preferem ser contatados através de E-mails ao invés de ligações."
      />
      <Box
        variant="secondary"
        icon="seal-check"
        title="Verificação constante"
        description="Até 99% dos usuários de E-mail checam as mensagens em suas caixas de entrada diariamente."
      />
    </div>
  </Section>

  <Section
    containerClass="flex flex-col items-center justify-center gap-8 lg:gap-12"
  >
    <div
      class="mx-auto w-full xl:max-w-3/4 flex flex-col gap-4 lg:gap-6 items-center justify-center"
    >
      <Heading as="h2" class="text-center"
        >Na Disparo Pro, você não precisa ser um especialista para criar
        jornadas de E-mail!</Heading
      >
      <p class="text-body-md text-text-secondary text-center">
        Na Disparo Pro, criar suas jornadas de comunicação é fácil e intuitivo.
        Confira o passo a passo:
      </p>
      <Button variant="primary" icon="arrow-right" href={ROUTES.LOGIN}
        >Conheça a plataforma!</Button
      >
    </div>

    <SlideBoxSteps />
  </Section>

  <Section containerClass="flex flex-col gap-6 lg:gap-12">
    <div class="flex flex-col gap-4 lg:gap-6">
      <Heading as="h2"
        >Com disparos de E-mail, você fala com seu cliente em diferentes
        momentos da jornada!</Heading
      >
    </div>
    <InteractiveFeature
      items={[
        {
          icon: "currency-circle-dollar",
          title: "Descoberta",
          description: "Receba o cliente com uma oferta especial.",
          image: emailEcommerce,
        },
        {
          icon: "tag",
          title: "Nutrição",
          description: "Mantenha o cliente interessado nos seus produtos.",
          image: emailDisparo,
        },
        {
          icon: "receipt",
          title: "Recuperação",
          description: "Resgate a atenção de clientes inativos.",
          image: emailInfoprodutor,
        },
        {
          icon: "list-checks",
          title: "Experiência",
          description: "Faça pesquisas de satisfação sobre suas soluções.",
          image: emailProvedor,
        },
      ]}
      buttonText="Desbrave possibilidades!"
      buttonHref={ROUTES.CONTATO}
    />
  </Section>

  <Section>
    <ApiSection
      title="Integre nossa API de E-mail ao seu sistema!"
      description="Com a Disparo Pro, você tem acesso a uma API de E-mail com suporte nacional e integração facilitada."
    />
  </Section>
</BaseLayout>
