---
import "../styles/globals.css";
import SEO from "../components/SEO.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import type { SeoProps } from "../types/seo";

export interface Props {
  seo?: SeoProps;
}

const { seo } = Astro.props;
---

<html lang="pt-BR" class="scroll-smooth">
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap"
      rel="stylesheet"
    />
    {
      seo ? (
        <SEO {...seo} />
      ) : (
        <SEO
          title="Dispare SMS e Torpedo de Voz em Massa | Disparo Pro"
          description="Alcance até 98% do seu público-alvo! Tenha acesso a uma plataforma simples e intuitiva para disparar mensagens em massa."
        />
      )
    }

    <script is:inline>
      function captureUTMs() {
        const urlParams = new URLSearchParams(window.location.search);
        const utms = [
          "utm_source",
          "utm_medium",
          "utm_campaign",
          "utm_term",
          "utm_content",
        ];

        utms.forEach((utm) => {
          const value = urlParams.get(utm);
          if (value) {
            localStorage.setItem(utm, value);
          }
        });
      }
      captureUTMs();
    </script>
  </head>
  <body class="min-h-screen flex flex-col font-sans overflow-x-hidden">
    <Header />
    <main class="grow w-full overflow-x-hidden">
      <slot />
    </main>
    <Footer />
  </body>
</html>
