---
import { cx } from "../../lib/utils";
import { Image } from "astro:assets";
import Icon from "../Icon.astro";

export interface Props {
  class?: string;
  text?: string;
  image?: string | any;
}

const { class: className, text, image, ...rest } = Astro.props;

const classes = cx(className);

const isIconName =
  typeof image === "string" && !image.includes("/") && !image.includes(".");
---

<div class={classes} {...rest}>
  <div
    class="flex items-center gap-2 py-2 px-4 rounded-full bg-surface-muted/40 border border-border-default/20"
  >
    {
      image &&
        (isIconName ? (
          <Icon name={image} />
        ) : (
          <Image
            src={image as any}
            alt={text || ""}
            width={92}
            height={48}
            format="webp"
            quality="high"
          />
        ))
    }

    {text && <span class={cx("text-label text-text-secondary")}>{text}</span>}
  </div>
  <slot />
</div>
