---
import { cx } from "../../lib/utils";
import { Image } from "astro:assets";
import type { ImageMetadata } from "astro";

export interface Props {
  class?: string;
  text?: string;
  image?: string | ImageMetadata;
}

const { class: className, text, image, ...rest } = Astro.props;

const classes = cx(className);
---

<div class={classes} {...rest}>
  <div
    class="flex items-center gap-2 py-2 px-4 rounded-full bg-surface-muted/40 border border-border-default/20"
  >
    {
      image && (
        <Image
          src={image as any}
          alt={text || ""}
          width={40}
          height={28}
          format="webp"
          quality="mid"
        />
      )
    }
    {text && <span class={cx("text-label text-text-secondary")}>{text}</span>}
  </div>
  <slot />
</div>
