---
import { cx } from "../../lib/utils";

export interface Props {
  href?: string;
  variant?: "primary" | "secondary" | "outline";
  class?: string;
  icon?: any;
}

const {
  href,
  variant = "primary",
  class: className,
  icon: Icon,
  ...rest
} = Astro.props;

const baseClass =
  "cursor-pointer inline-flex items-center justify-center font-regular transition-colors focus:outline-none focus:ring-2 focus:ring-offset-2";

const variants = {
  primary:
    "bg-brand-primary text-white rounded-lg px-6 py-2 text-body-md flex items-center gap-6",

  secondary: "bg-brand-primary text-white rounded-lg px-4 py-2 text-button-sm",

  outline:
    "border border-text-primary bg-transparent text-text-primary rounded-lg px-4 py-2 text-button-sm",
};

const classes = cx(baseClass, variants[variant], className);
---

{
  href ? (
    <a href={href} class={classes} {...rest}>
      <slot />
      {variant === "primary" && Icon && <Icon class="ml-2 w-5 h-5" />}
    </a>
  ) : (
    <button class={classes} {...rest}>
      <slot />
      {variant === "primary" && Icon && <Icon class="ml-2 w-5 h-5" />}
    </button>
  )
}
