---
import { cx } from "../../lib/utils";
import Container from "./Container.astro";

export interface Props {
  class?: string;
  id?: string;
  containerClass?: string;
  fullWidth?: boolean;
}

const {
  class: className,
  id,
  containerClass,
  fullWidth = false,
  ...rest
} = Astro.props;
---

<section
  id={id}
  class={cx("py-10 md:py-16 xl:py-20 px-4 md:px-6 xl:px-0", className)}
  {...rest}
>
  <Container class={containerClass} fullWidth={fullWidth}>
    <slot />
  </Container>
</section>
